/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

/* Created by: Kai Nguyen
* Created on: Feb 2024
*This file contains the CSS for index.html
*/
h1 {
  color: red;
}
body {
  background-color: black;
  text-align: center;
}
p {
  color: white;
  text-align: center;
}
p:nth-child(3) {
    font-size: 1.5em;
}
img {
  width: 900px;
}